@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(243, 244, 246); /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #a3a3a3; /* color of the scrollbar */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #737373; /* color of the scrollbar on hover */
}
/* th {
    border: 1px solid #ddd;
} */
